body, html {
  height: 100%;
}

body {
  padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

p {
  font-family: $text-font;
}

hr {
	margin: 0;
}

ul {
  margin-left: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

.fixer {
  position: fixed;
  z-index: 0;
  width: inherit;
}

.projects-container, .about {
  background: #fff;
  padding-top: 3rem;
}

#mask, #projectmask {
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    background-color: $branding-color; 
    z-index:99;
}

#splash {
  background: $branding-color;
}

.branding-band, .connect-band {
  @extend #splash;
  width: 100%;
}

.connect-band {
  padding-top: 2rem;
  padding-bottom: 6rem;
  position: absolute;
}

// .ggs-band, #splash.ggs {
//   background: $ggs-color;
// }

.projects-ggs-band {
  // background: darken($ggs-color, 10%);
  background: $white;
}

.projects-container .ggs{
  @extend .projects-ggs-band;
  padding-top: 2rem;
}

.projects-octavejournal-band {
  // background: darken($octavejournal-color, 15%);
  background: $white;
}

.projects-container .octavejournal{
  @extend .projects-octavejournal-band;
  padding-top: 2rem;
}

.about-band, .about {
  background: $branding-color;
}

.about-band {
  padding-bottom: 3rem;
}

.about-tool-list {

}

.contact-container {
  height: 7rem;
}