body, html {
  height: 100%;
}

body {
  padding-bottom: 3rem;
}

hr {
	margin: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

.fixer {
  position: fixed;
  z-index: 0;
}

.projects-container {
  background: #fff;
  padding-top: 3rem;
}

#mask {
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    background-color:white; 
    z-index:99;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  border-top: 0;
  margin-top: 0rem;
}
