.button.secondary {
  background-color: inherit;
  @include border-light($dark-gray, 0.0625rem);
  color: $dark-gray;
  font-size: 1rem;
  font-weight: $light-text;
  font-family: $body-font;
  @include transition(100, all);
  &:hover {
    // background: darken($transparent-white, 15%);
    color: $white;
    background: $branding-color;
    @include border-light($branding-color, 0.0625rem);
    @include transition(200, all);
  }
}