.bottom-fixed {
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 0;
  transition: bottom 0.1s ease-in-out;
  z-index: 99;
}

.top-bar {
  @extend #splash;
  height: 4rem;
}

.top-bar-section {
  ul, li:not(.has-form) a:not(.button), ul li > a {
    background: inherit;
    line-height: 2.5rem;
    &:hover {
      background: inherit;
    }
  }
}

.nav-down {
  bottom: -3.75rem;
}

.top-bar.playbook {
  height: 2.5rem;
}

.playbook .top-bar-section {
  padding-top: 0;
}

.f-topbar-fixed {
  padding-top: 2.5rem !important;
}

//side nav

.side-nav {
}

.sidebar {
  background: $branding-accent;
  padding: 0 1rem;
}