.bottom-fixed {
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.top-bar {
  background-color: $branding-color;
  height: 4rem;
}

.top-bar-section {
  ul, li:not(.has-form) a:not(.button), ul li > a {
    background: inherit;
    &:hover {
      background: inherit;
    }
  }
}