.project-title {
  border-bottom: $border-thick;
}

.mockup, .detail {
  background: $white;
}

.projects-single-banner {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.projects-single-hero {
  margin-bottom: 2rem;
}

.mockup-image, .detail-container {
  padding-top: 2rem;
  background: $white;
  text-align: center;
  img {
    max-height: 450px;
    text-align: center;
  }
}

.project-single-image {
  @include project-frame($light-gray);
  padding-left: 0;
  padding-right: 0;
}

.detail {
  margin-bottom: 5rem;
}

.tags {
  margin-bottom: 1rem;
}

.small.expand.button {
  margin-top: 2rem;
}