.project-title {
}

.mockup, .detail {
  background: $white;
}

.projects-single-banner {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.projects-single-hero {
  margin-bottom: 2rem;
}

.mockup-image, .detail-container {
  padding-top: 2rem;
  background: $white;
  img {
    text-align: center;
  }
}

.mockup-image {
  margin-bottom: 4rem;
}

.project-single-image {
  @include project-frame($light-gray);
  padding-left: 0;
  padding-right: 0;
}

.carousel {
  margin-bottom: 6rem;
}

.tags {
  margin-bottom: 1rem;
}

.small.expand.button {
  margin-top: 2rem;
}