/* ===================
  Fonts
=================== */

@font-face {
  font-family: 'knewave';
  src: url('fonts/knewave/webfonts/knewave-outline-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/knewave/webfonts/knewave-outline-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/knewave/webfonts/knewave-outline-webfont.woff') format('woff'), /* Modern Browsers */
       url('fonts/knewave/webfonts/knewave-outline-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/knewave/webfonts/knewave-outline-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*==================*/

.bold {
  font-weight: $heavy-text;
}

.branding-title {
  margin-bottom: 0;
  font-family: $body-font;
  font-weight: $heavy-text;
  text-align: left;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 6rem;
  color: darken($branding-color, 37.5%);
  @include breakpoint(large) {
    font-size: 6rem;
  }
  @include breakpoint(medium) {
    // text-transform: capitalize;   
  }
  @include breakpoint(small) {
    font-size: 2.5rem;
    text-align: left;
    // text-transform: capitalize;
  }
}

.branding-byline {
  font-size: 2.5rem;
  font-weight: $heavy-text;
  text-align: left;
  padding-left: 0.125rem;
  margin-bottom: 0;
  color: darken($branding-color, 35%);
  @include breakpoint(large) {
    font-size: 2.5rem;
  }
  @include breakpoint(medium) {
    font-size: 2.5rem;    
  }
  @include breakpoint(small) {
    font-weight: $medium-text;
    font-size: 1.5rem;
    text-align: left;
  }
}

.branding-summary {
  font-family: $body-font;
  font-weight: $light-text;
  font-size: 1.25rem;
  padding-left: 0.125rem;
  color: darken($branding-color, 40%);
  a {
    color: inherit;
    font-weight: $medium-text;
    text-decoration: underline;
  }
  @include breakpoint(large) {
    font-size: 1.25rem;
  }
  @include breakpoint(small) {
    text-align: left;
    font-size: 1rem;
  }
}

.contact {
  i {
    font-size: 2rem;
    font-weight: $light-text;
    color: $black;
    margin-right: 2rem;
  }
}

// navigation

.top-bar-section {
  padding-top: 0.75rem;
  ul, li:not(.has-form) a:not(.button), ul li > a {
    font-weight: $light-text;      
    color: $background;
    text-transform: lowercase;
    font-size: 1.35rem;
    @include breakpoint(small) {
      font-size: 1.25rem;
    }
    &:hover {
      color: $branding-darker;
    }
  }
}

.playbook .top-bar-section {
  @extend .top-bar-section;
  ul, li:not(.has-form) a:not(.button), ul li > a {
    color: black;
    font-size: 1.1rem;
    font-weight: $light-text;
    &:hover {
      color: black;
    }
  }
}

.top-bar .name h1 a {
  color: $black;
  font-weight: $heavy-text;
  font-family: $body-font;
}

.side-nav {
  li > a:first-child:not(.button) {
    color: $black;
    font-weight: $light-text;
    font-size: 1.1rem;
    font-family: $text-font;
  }
  li.active > a:first-child:not(.button) {
    color: $branding-color;
  } 
  .heading {
    font-size: 1.125rem;
  }
} 

.side-nav {
  a {
    color: $black;
  }  
}

// projects

@include fadeRight();

i {
  font-size: 4rem;
  color: darken($branding-color, 15%);  
  vertical-align: bottom;
  margin-left: 1rem;
  margin-right: 1rem; 
  &:hover {
    color: $branding-color;
  }
}

.projects-title {
  font-size: 5rem;
  font-weight: $heavy-text;
  color: darken($highlight-color, 15%);
  text-transform: uppercase;
  padding-top: 1rem;
}

.project-list {  
  .project {
    list-style: none;
    margin-top: 2rem;
  }
  .project-link {
    color: $highlight-color;
    font-weight: $heavy-text;
    margin-right: 0.5rem;
    &:hover {
      @include underline ($thickness: 0.25rem, $color: $highlight-color);
    }
  }
  a {
    font-size: 3rem; 
    font-weight: $light-text;
    color: darken($highlight-color, 25%);   
    &:hover {
      text-decoration: none;
      color: $highlight-color;   
    }
  }
  .ion-ios7-arrow-thin-right {
    font-size: 5rem;
  }
}

.projects-single-title {
  font-family: $body-font;
  font-weight: $heavy-text;
  color: $black;
  font-size: 2.45rem;
  margin-bottom: 0;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(small) {
    font-size: 2rem;
  }
}

.projects-single-teaser {
  font-family: $text-font;
  font-weight: $light-text;
  font-size: 1.1rem;
  color: $dark-gray;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    @include medium-text;
  }
}

.detail-tech {
  margin-bottom: 1rem;
  font-family: $text-font;  
}

ul.detail-tech-phases {
  margin-bottom: 1rem;  
  li {
    margin-bottom: 0;
    font-weight: $light-text;
  }
  p {
    margin-bottom: 0;
    font-weight: $light-text;
    color: $black;
  }
  @include breakpoint(small) {
    p, li {
      font-size: 0.8rem;
    }
  }
}

.detail-tech-list {
  @extend .detail-tech-phases;
}

// process

.process-title {
  @extend .projects-title;
  color: $branding-darker;
}

// contact 

.connect-title {
  @extend .projects-title;
  color: $branding-darker; 
}

.connect-links {
  i {
    font-size: 3rem;
  }
}

.connect-text {
  @extend .projects-single-teaser;
  color: $branding-darker;
  font-size: 1.5rem;
  a {
    @include underline($color: $branding-darker);
    color: $branding-darker;
  }
}

.about-title {
  font-size: 4rem;
  font-weight: $heavy-text;
  line-height: 4.5rem;
}

.about-summary {
  font-size: 1.25rem;
  font-weight: $light-text;
  color: $black;
}

.about-feature-title {
  font-weight: $heavy-text;
}

.about-feature-summary {
  font-size: 1.25rem;
  font-weight: $light-text;
  .bold {
    font-size: 1.25rem;
  }
}

.contact-container {
  i {
    font-size: 4rem;
    text-align: left;
  }
}

.connect-links {
  text-align: left;
  i {
    margin-right: 2rem;
  }
}

.connect-thanks {
  font-family: $accent-font;
  font-size: 2rem;
  text-align: left;
  color: $branding-darker;
  font-weight: $light-text;
}

// project

.project-title {
  @extend .branding-title;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include breakpoint(small) {
    line-height: 2.5rem;
  }
}

.project-intro {
  font-weight: $light-text;
  font-size: 1.125rem;
}

.detail-title {
  margin-bottom: 0rem;
  margin-top: 0rem;
  color: lighten($branding-color, 10%);
  font-weight: $heavy-text;
  font-size: 2.5rem;
}

.detail-text {
  margin-top: 1rem;
  font-family: $text-font;
  font-weight: $light-text;
}

.tags > .tag {
  @extend .detail-text;
  margin-top: 0;
  list-style: none;
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
  color: $dark-gray;
  font-weight: $light-text;
  a {
    color: inherit;
  }
}

.detail-tech-phases {
  @extend .tags;
  color: $dark-gray;
  font-weight: $light-text;
  margin-bottom: 0.5rem;
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
}

.detail-notes {
  @extend .detail-tech-phases;
  width: 100%;
  font-size: 0.75rem;
}