.bold {
  font-weight: $heavy-text;
}

.branding-title {
  margin-bottom: 0;
  font-family: $body-font;
  font-weight: $heavy-text;
  text-align: left;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 6rem;
  color: darken($branding-color, 37.5%);
  @include breakpoint(large) {
    font-size: 6rem;
  }
  @include breakpoint(medium) {
    // text-transform: capitalize;   
  }
  @include breakpoint(small) {
    font-size: 2.5rem;
    text-align: left;
    // text-transform: capitalize;
  }
}

.branding-byline {
  font-size: 2.5rem;
  font-weight: $medium-text;
  text-align: left;
  padding-left: 0.125rem;
  margin-bottom: 0;
  color: darken($branding-color, 35%);
  @include breakpoint(large) {
    font-size: 2.5rem;
  }
  @include breakpoint(medium) {
    font-size: 2.5rem;    
  }
  @include breakpoint(small) {
    font-weight: $medium-text;
    font-size: 1.5rem;
    text-align: left;
  }
}

.branding-summary {
  font-family: $body-font;
  font-weight: $light-text;
  font-size: 1.25rem;
  padding-left: 0.125rem;
  color: darken($branding-color, 40%);
  a {
    color: inherit;
    font-weight: $medium-text;
    text-decoration: underline;
  }
  @include breakpoint(large) {
    font-size: 1.25rem;
  }
  @include breakpoint(small) {
    text-align: left;
    font-size: 1rem;
  }
}

.contact {
  i {
    font-size: 2rem;
    font-weight: $light-text;
    color: $black;
    margin-right: 2rem;
  }
}

// navigation

.top-bar-section {
  padding-top: 0.75rem;
  ul, li:not(.has-form) a:not(.button), ul li > a {
    color: darken($branding-color, 40%);
    font-size: 1.25rem;
    font-weight: $medium-text;
    &:hover {
      color: black;
    }
  }
}

.playbook .top-bar-section {
  @extend .top-bar-section;
  ul, li:not(.has-form) a:not(.button), ul li > a {
    color: black;
    font-size: 1.1rem;
    font-weight: $light-text;
    &:hover {
      color: black;
    }
  }
}

.top-bar .name h1 a {
  color: $black;
  font-weight: $heavy-text;
  font-family: $body-font;
}

.side-nav {
  li > a:first-child:not(.button) {
    color: $black;
    font-weight: $light-text;
    font-size: 1.1rem;
    font-family: $text-font;
  }
  li.active > a:first-child:not(.button) {
    color: $branding-color;
  } 
  .heading {
    font-size: 1.125rem;
  }
} 

.side-nav {
  a {
    color: $black;
  }  
}

// projects

.projects-single-title {
  font-family: $body-font;
  font-weight: $heavy-text;
  color: $black;
  font-size: 2.45rem;
  margin-bottom: 0;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(small) {
    font-size: 2rem;
  }
}

.projects-single-teaser {
  font-family: $text-font;
  font-weight: $light-text;
  font-size: 1.1rem;
  color: $dark-gray;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    @include medium-text;
  }
}

.detail-tech {
  margin-bottom: 1rem;
  font-family: $text-font;  
}

ul.detail-tech-phases {
  margin-bottom: 0;  
  li {
    margin-bottom: 0;
    font-weight: $light-text;
  }
  p {
    margin-bottom: 0;
    font-weight: $light-text;
    color: $black;
  }
  @include breakpoint(small) {
    p, li {
      font-size: 0.8rem;
    }
  }
}

.detail-tech-list {
  @extend .detail-tech-phases;
}

// contact 

.connect-links {
  i {
    font-size: 3rem;
  }
}

.connect-text {
  @extend .projects-single-teaser;
  color: $black;
  font-size: 1.5rem;
}

.about-title {
  font-size: 4rem;
  font-weight: $heavy-text;
  line-height: 4.5rem;
}

.about-summary {
  font-size: 1.25rem;
  font-weight: $light-text;
  color: $black;
}

.about-feature-title {
  font-weight: $heavy-text;
}

.about-feature-summary {
  font-size: 1.25rem;
  font-weight: $light-text;
  .bold {
    font-size: 1.25rem;
  }
}

.contact-container {
  i {
    font-size: 4rem;
    text-align: center;
  }
}

.connect-links {
  text-align: center;
  i {
    margin-right: 2rem;
  }
}

// project

.project-title {
  @extend .branding-title;
  text-align: left;
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.project-intro {
  font-weight: $light-text;
  font-size: 1.125rem;
}

.detail-text {
  font-family: $text-font;
  font-weight: $light-text;
}

.tags > .tag {
  @extend .detail-text;
  list-style: none;
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
  color: $dark-gray;
  font-weight: $light-text;
  a {
    color: inherit;
  }
}

.detail-tech-phases {
  color: $dark-gray;
  font-weight: $light-text;
  margin-bottom: 0.5rem;
  display: inline-block;
  float: left;
  margin-right: 0.5rem;
}

.detail-notes {
  @extend .detail-tech-phases;
  font-size: 0.75rem;
}