

<div class="branding-band">
  <div class="row">
    <div id="splash" class="small-12 medium-12 large-12 columns project ggs">
      <div class="fixer">
        <div class="small-12 medium-6 large-4 columns project-description">
          <h1 class="project-title">
          Great <br> Green <br> Sources
        </h1>
        <p class="project-intro">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, natus libero sint aliquam officiis quis illo itaque fugiat harum voluptas optio ullam consectetur atque voluptatum laborum ratione mollitia accusantium consequatur doloribus praesentium? Assumenda eaque suscipit perferendis pariatur nemo rem quidem nulla veritatis blanditiis. Blanditiis aspernatur distinctio reiciendis. Sit, error vel.
        </p>
        </div>
      </div>
    </div><!-- branding -->
  </div>
</div>