<div class="row">
  <div class="small-12 medium-12 large-12 columns about">
    <div class="small-12 medium-6 large-6 columns about-intro alpha">
      <h2 class="about-title">
      I am Technology Agnostic
      </h2>
      <p class="about-summary">
        Learning new tools is one of life's great pleasures. That being said, I have some that I think are especially fit-for-purpose.
      </p>
    </div><!-- about-intro -->

    <div class="row about-tools">
        <div class="small-12 medium-12 large-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-3  about-tool-list">
            <li class="about-concept">
              <h3 class="about-concept-title">Concept</h3>
              <p class="about-concept-summary">
                Nothing beats <code>pencil</code>, <code>paper</code>, and <code>trace</code> for rapid prototyping. I have completely forgone Adobe CS mockups for quick sketches, prototyped in <code>HTML</code> and <code>CSS</code>
              </p>
            </li>                          
            <li class="about-code">
              <h3 class="about-concept-title">Code</h3>
              <p class="about-concept-summary">
                When it's time to move from paper to screen I fire up <code>Sublime</code>, <code>Terminal</code>, and <code>Chrome</code>. I write in <code>HTML</code>, <code>Sass</code>, and <code>jQuery</code> and some <code>PHP</code>. I am currently learning <code>Ruby</code>.
              </p>
            </li>
            <li class="about-content">
            <h3 class="about-concept-title">Content</h3>
              <p class="about-concept-summary">
                Once I have my frontend structure set, I wire it up to either <code>Wordpress</code> for complex, dynamic sites, or <code>Middleman</code> if I don't need to worry about non-technical clients needing to update content.
              </p>
            </li>

          </ul>
        </div>
      </div>

  </div><!-- About -->
</div>