<div id="about" class="about-band">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns about">
      <div class="small-12 medium-5 columns about-intro alpha">
        <h2 class="about-title">
          You've <br> Got a <br> Problem
        </h2>
        <p class="about-summary">
          You are looking for a solution and I'd like to help. I am a designer/developer based in Brooklyn, New York passionate about clean readable code powering clean, readable content.  
        </p>
      </div><!-- about-intro -->

      <div class="row about-tools">
          <div class="small-12 medium-12 large-12 columns">
            <p class="about-feature-summary">
            



              Web/apps should be created around users. They should be clear, navigable, compelling, and responsive.  

              I care very much about presenting users with a consistent experience across devises and contexts because content needs to be accessible and portable. 
              You need a solution that just works and will continue to work. My code is modular, syntactic and clean so you can either completely forget about it, or dig in and easily understand whats going on.      
              If you are interested in my process, then the <a href="3">Playbook</a> section will tell you what you need to know. 
            </p>
          </div>
        </div>

    </div><!-- About -->
  </div>
</div>