<div id="about" class="about-band">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns about">
      <div class="small-12 medium-6 large-6 columns about-intro alpha">
        <h2 class="about-title">
        Full Stack <br> Problem Solver
        </h2>
        <p class="about-summary">
          I am equally in engaged every phase of product development from concept to delivery. I find a broad skillset promotes efficiency and builds a foundation for constructive collaboration. 
        </p>
      </div><!-- about-intro -->

      <div class="row about-tools">
          <div class="small-12 medium-12 large-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-3  about-tool-list">
              <li class="about-feature">
                <h3 class="about-feature-title">Concept</h3>
                <p class="about-feature-summary">
                  <span class="bold">
                    You've got a problem.
                  </span> 
                  <br>
                  If you don't fully understand the problem or need, then you can't produce a solution.
                  Definitions, constraints and testing are crucial to success.
                </p>
              </li>                          
              <li class="about-code">
                <h3 class="about-feature-title">Code</h3>
                <p class="about-feature-summary">
                  <span class="bold">
                    Let's build a solution.
                  </span>
                  <br>
                  Start with a lo-fi solution for testing and bring on the pixel perfection. HTML/Sass/JS are our weapons of choice for creating responsive digital gems.    
                </p>
              </li>
              <li class="about-content">
              <h3 class="about-feature-title">Content</h3>
                <p class="about-feature-summary">
                  <span class="bold">
                    And bring it to life.
                  </span>
                  <br>
                  Wireup the frontend and lets get you talking to your customers. Sometimes we'll need a heavyweight like Wordpress, and sometimes a simple static site will do. 
                </p>
              </li>

            </ul>
          </div>
        </div>

    </div><!-- About -->
  </div>
</div>