<div class="contact-band">
  <div class="row contact">
    <div class="small-12 medium-12 large-12 columns contact-container">
      <i class="ion-social-github"></i>
      <i class="ion-social-twitter"></i>
      <i class="ion-ios7-email"></i>
    </div>
  </div>
</div>