---
title: Great Green Sources
---

<div class="projects-ggs-band clearfix">
  <div class="projects-container ggs">
    <div class="row projects-ggs">
      <div class="projects-single">
        <div class="projects-single-container clearfix">
          
          <div class="projects-single-banner">
            <%= image_tag 'greatgreensources_text.png' %>
          </div>
          
          <div class="projects-single-hero">
            <%= image_tag 'greatgreensources_full_mockup_sliced.png' %>
          </div>
          
          <div class=" medium-7 large-7 columns projects-summary alpha">                                  
            <div class="show-for-medium-up project-details">              
              <p class="detail-text">
                Great Green Sources is a nationwide wholesale nursery distributor built on creating and maintaining close personal relationships. Part of that process is providing timely information on product availabilities, and introducing customers to a hand picked list of vendors and their products. 
              </p>
              <p class="detail-text">
                Mobility is a key feature of the site, as Great Green Sources customers are rarely at a desktop. Thus, the site was designed with a mobile first approach, interchanging content based on the context. 
              </p>              
            </div><!-- project-details -->
          </div><!-- projects-summary -->            
          
          <div class="mockup-container small-12 medium-5 large-5 columns">                
            <div class="detail-tech alpha clearfix">
              <ul class="detail-tech-phases">        
                <li class="detail-tech-phases">
                  <p class="projects-single-role">Role:</p>
                </li> 
                <li class="detail-tech-phases">concept</li>
                <li class="detail-tech-phases">design</li>
                <li class="detail-tech-phases">development</li>
                <li class="detail-tech-phases">deployment</li>          
              </ul>
              <ul class="detail-tech-list tags clearfix">          
                <li class="detail-tech-phases">
                  <p class="projects-single-role">Tools:</p>
                </li> 
                <li class="tag">HTML/Sass/JS</li>
                <li class="tag">Foundation</li>
                <li class="tag">Wordpress</li>
              </ul>                 
            </div><!-- detail-tech -->                                      
              <a href="https://github.com/timsvoice/great_green_sources" class="small button secondary">View Source</a>
              <div class="small button secondary inactive">under construction</div>  
              <%= link_to 'structure', 'structure' %>
          </div><!-- mockup-container -->

        </div><!-- projects-single-container -->
      </div><!-- projects-single -->
    </div><!-- row projects-ggs -->
  </div><!-- projects-container -->
</div><!-- projects-ggs-band -->

