---
title: Mallydoor
---

<div class="projects-octavejournal-band clearfix">
  <div class="projects-container octavejournal">
    <div class="row projects-octavejournal">
      <div class="projects-single">
        <div class="projects-single-container clearfix">
          
          <div class="projects-single-banner">
            <%= image_tag "mallydoor_text.png" %>
          </div>
          
          <div class="projects-single-hero">
            <%= image_tag 'mallydoor_full_mockup_sliced.png' %>
          </div>

          <div class=" medium-7 large-7 columns projects-summary alpha">            
            <div class="show-for-medium-up project-details">              
              <p class="detail-text">
                Marion Drew is a South African children's author who currently runs a development trust in Lesotho. She has been publishing stories about her adventures to a small group of friends via email for about a year.
              </p>
              <p class="detail-text">
                This was a quick turnaround (just a few days) as Marion wanted to have her stories live for an event. I went with a bare-bones publishing platform powered by wordpress focusing on readability and mobile access. 
              </p>                            
            </div><!-- project-details -->
          </div><!-- projects-summary -->    
          
          <div class="mockup-container small-12 medium-5 large-5 columns">  <div class="detail-tech alpha clearfix">
              <ul class="detail-tech-phases">        
                <li class="detail-tech-phases">
                  <p class="projects-single-role">Role:</p>
                </li> 
                <li class="detail-tech-phases">concept</li>
                <li class="detail-tech-phases">design</li>
                <li class="detail-tech-phases">development</li>
                <li class="detail-tech-phases">deployment</li>        
              </ul>
              <ul class="detail-tech-list tags clearfix">          
                <li class="detail-tech-phases">
                  <p class="projects-single-role">Tools:</p>
                </li> 
                <li class="tag">HTML/Sass/JS</li>
                <li class="tag">Foundation</li>
                <li class="tag">Wordpress</li>
              </ul>                 
            </div><!-- detail-tech -->                                        
            <a href="https://github.com/timsvoice/mallydoor" class="small button secondary">View Source</a>
              <a href="http://www.mallydoor.com" class="small button secondary">View Project</a>
          </div><!-- mockup-container -->             
        </div><!-- projects-single-container -->
      </div><!-- projects-single -->
    </div><!-- row projects-octavejournal -->
  </div><!-- projects-container -->
</div><!-- projects-octavejournal-band -->

