<div class="hide-for-small beta">
  <div class="sidebar">
    <ul class="side-nav">
      <li class="heading">Structure</li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>
</div>