---
title: Octave Journal
---

<div class="projects-octavejournal-band clearfix">
  <div class="projects-container octavejournal">
    <div class="row projects-octavejournal">
      <div class="projects-single">
        <div class="projects-single-container clearfix">
          
          <div class="projects-single-banner">
            <%= image_tag "octavejournal_text.png" %>
          </div>
          
          <div class="projects-single-hero">
            <%= image_tag 'octavejournal_full_mockup_sliced.png' %>
          </div>

          <div class=" medium-7 large-7 columns projects-summary alpha">            
            <div class="show-for-medium-up project-details">              
              <p class="detail-text">
                The Octave Journal is an internal publication, serving as a knowledge base for a geographically dispersed team. The Journal started out as an experimental project and is now edited and maintained by a core team based in Shanghai and New York. 
              </p>
              <p class="detail-text">
                 The Octave Journal is published via bi-monthly, custom coded email campaign. We consistently drove up our readership numbers Using Mailchimp and Google Analytics data. 
              </p>                            
            </div><!-- project-details -->
          </div><!-- projects-summary -->    
          
          <div class="mockup-container small-12 medium-5 large-5 columns">  <div class="detail-tech alpha clearfix">
              <ul class="detail-tech-phases">        
                <li class="detail-tech-phases">
                  <p class="projects-single-role">Role:</p>
                </li> 
                <li class="detail-tech-phases">concept</li>
                <li class="detail-tech-phases">design</li>
                <li class="detail-tech-phases">development</li>
                <li class="detail-tech-phases">deployment</li>        
                <li class="detail-tech-phases">content</li>          
              </ul>
              <ul class="detail-tech-list tags clearfix">          
                <li class="detail-tech-phases">
                  <p class="projects-single-role">Tools:</p>
                </li> 
                <li class="tag">HTML/Sass/JS</li>
                <li class="tag">Foundation</li>
                <li class="tag">Wordpress</li>
                <li class="tag">Ink</li>
              </ul>                 
            </div><!-- detail-tech -->                                        
            <a href="https://github.com/timsvoice/great_green_sources" class="small button secondary">View Source</a>
              <a href="www.octavejournal.com" class="small button secondary">View Project</a>
          </div><!-- mockup-container -->             
        </div><!-- projects-single-container -->
      </div><!-- projects-single -->
    </div><!-- row projects-octavejournal -->
  </div><!-- projects-container -->
</div><!-- projects-octavejournal-band -->

