---
title: Project Index

projects:
  - Great Green Sources
  - Octave Journal
  - Mallydoor
---

<div class="splash project">
  <div class="row project-index clearfix">
    <div class="small-12 medium-10 large-10 columns projects">
      <table>
        <tbody>
          <tr class="project-numbers">
            <h1>Test</h1>
          </tr>
          <tr class="project-titles">
            <td></td>
          </tr>
        </tbody>
      </table>
    </div><!-- projects -->
  </div><!-- project-index -->
</div><!-- project -->