---
layout: project

tech: 
  - HTML/Sass/jQuery
  - Wordpress
  - Foundation

phases: 
  - Concept
  - Design
  - Development
  - Deployment

source: 
  - https://github.com/timsvoice/great_green_sources

link:
  - #

images: 
  - 'greatgreensources_color_mockup.png'

---

<div class="branding-band">
  <div class="row">
   
      <div class="small-12 medium-12 large-12 columns project ggs">
         
        <div class="small-12 medium-6 large-4 columns alpha project-description">
          <h1 class="project-title">
          Great <br> Green <br> Sources
        </h1>
        <p class="project-intro">
          How do you design a platform that best supports a business built around relationships?
        </p>
        </div><!-- project-description -->
    </div><!-- project -->
    
  </div><!-- row -->
</div><!-- branding-band -->

<div class="project-slider clearfix">
  <div class="row">
    <div id="project-carousel" class="owl-carousel mockup">      
   
      <% current_page.data.images.each do |f| %>
      <div class="item">
        <div class="mockup-image small-12 columns">
          <div class="small-12 medium-10 large-10 columns medium-centered">
            <%= image_tag f %>
          </div>
        </div><!-- mockup-image -->
      </div><!-- item -->
      <% end %>

    </div><!-- project-carousel-->
  </div><!-- row -->
</div>

<div class="detail">
  <div class="row">
    <div class="small-12 columns detail-container">
      <div class="small-12 medium-5 large-5 columns alpha">
        <p class="detail-text">
          Great Green Sources is a nationwide wholesale nursery distributor built on creating and maintaining close personal relationships. Part of that process is providing timely information on product availabilities, and introducing customers to a hand picked list of vendors and their products. 
        </p>
        <p class="detail-text">
          Mobility is a key feature of the site, as Great Green Sources customers are rarely at a desktop. Thus, the site was designed with a mobile first approach, interchanging content based on the context and seeking to provide the most relevant info to visitors depending on several assumptions about their needs in different contexts. 
        </p>
      </div>
      <div class="small-12 medium-5 large-5 columns detail-tech alpha">
        <% current_page.data.phases.each do |f| %>
          <p class="detail-tech-phases"><%= f %></p>
          <% end %>

        <ul class="detail-tech-list tags clearfix">          
          <% current_page.data.tech.each do |f| %>
          <li class="tag"><%= f %></li>
          <% end %>
        </ul>
        <% current_page.data.source.each do |f| %>
          <a href="<%= f %>" class="small button secondary">View Source</a>
        <% end %>
        <% current_page.data.link.each do |f| %>
          <div class="small button secondary inactive">Under Construction</div>
        <% end %>
      </div>
    </div><!-- detail-container -->
  </div><!-- row -->
</div><!-- detail -->