---
title: Timothy Voice
---

<div id="mask"></div>

<div class="branding-band">
  <div class="row">
    <div id="splash" class="small-12 medium-12 large-12 columns branding">
      <div class="fixer">
        <div class="branding-intro small-12 medium-4 large-4 columns">
        <h1 class="branding-title">
          Timothy<br>Voice
        </h1>
        <p class="branding-byline">
          concept code content
        </p>
        <p class="branding-summary">
          I am a Brooklyn based designer/developer passionate about clean readable code powering clean, readable content. If you would like to know how I work, checkout my <a href="#">Playbook</a>.
          If you'd like to see my <a href="#projects">past work</a> read on.
        </p>
      </div><!-- branding-intro -->
      </div>
    </div><!-- Branding -->
  </div>
</div>


<div id="projects">
  
  <%= partial "ggs" %>

  <%= partial "octavejournal" %>

</div><!-- projects -->
    
<div id="connect" class="connect-band">
  <div class="row">
    <div class="small-12 medium-5 columns connect-links">
      <p class="connect-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, error, quo dolorem vero magnam ea adipisci deleniti maxime facilis doloremque numquam aliquam quos beatae minima nostrum labore autem sapiente distinctio molestiae perspiciatis repellendus nemo amet pariatur porro reprehenderit in soluta.
      </p>
      
          <i class="ion-social-github"></i>      
        
          <i class="ion-social-twitter"></i>
        
          <i class="ion-ios7-email"></i>

    </div>
    <div class="small-12 medium-5 columns connect-form">
  
      <form method="post" action="contactengine.php">
        <label for="Name">Name:</label>
        <input type="text" name="Name" id="Name" />
        
        <label for="City">City:</label>
        <input type="text" name="City" id="City" />
  
        <label for="Email">Email:</label>
        <input type="text" name="Email" id="Email" />
        
        <label for="Message">Message:</label><br />
        <textarea name="Message" rows="20" cols="20" id="Message"></textarea>

        <input type="submit" name="submit" value="Submit" class="submit-button" />
      </form>
  
      <div style="clear: both;"></div>

    </div><!-- connect-form -->
    
  </div><!-- row -->
</div><!-- connect-band -->
