---
title: Timothy Voice
---

<div id="mask"></div>

<div class="branding-band">
  <div class="row">
    <div id="splash" class="small-12 medium-12 large-12 columns branding">
      <div class="branding-intro">
        <h1 class="branding-title">
          Timothy Voice
        </h1>
          <p class="branding-byline">
          concept code content
        </p>
        <div class="small-10 medium-5 column alpha">
          <p class="branding-summary">
            I am a Brooklyn based designer / developer passionate about clean readable code powering clean, readable content.
          </p>
        </div>
      </div><!-- branding-intro -->
    </div><!-- Branding -->
  </div><!-- row -->
</div><!-- branding-band -->
<div id="projects">
  <%= partial "ggs" %>
  <%= partial "octavejournal" %>
  <%= partial "mallydoor" %>
</div><!-- projects -->
<div id="connect" class="connect-band">
  <div class="row">
    <div class="small-12 columns connect-links">
      <p class="connect-text">
        reach out, check my feed or inspect my code   
      </p>      
      <i class="ion-social-github"></i>              
      <i class="ion-social-twitter"></i>        
      <i class="ion-ios7-email"></i>
    </div><!-- connect-links -->    
  </div><!-- row -->
</div><!-- connect-band -->
