---
title: Timothy Voice
---

<div id="mask"></div>

<div class="branding-band">
  <div class="row">
    <div id="splash" class="small-12 medium-12 large-12 columns branding">
      <div class="branding-intro">        
        <h1 class="branding-title">
          Timothy 
          <br>
          Voice
        </h1>
        <p class="branding-byline">
          concept code content
        </p>
        <div class="small-10 medium-5 column alpha">
          <p class="branding-summary">
            I am a Brooklyn based designer/developer, passionate about clean, readable code powering clean, readable content.              
          </p>
        </div>
      </div><!-- branding-intro -->
    </div><!-- Branding -->
  </div><!-- row -->
</div><!-- branding-band -->

<div id="projects" class="projects-band">
  <div class="row">
    <h2 class="projects-title">
      Projects
    </h2>
    <ul class="project-list">
      <li class="project">
        <%= link_to 'Personal Site', 'timothyvoice', :class => 'project-link', :class => 'project-link' %>
        <div class="project-links hidden">
          <a href="www.octavejournal.com" class="visit-link"> | visit </a>
          <a class="source-link" href="https://github.com/timsvoice/timothyvoice">| view code</a>
        </div>              
      </li>
      <li class="project">
        <%= link_to 'Great Green Sources', 'ggs', :class => 'project-link' %>
       <div class="project-links hidden">
          <a href="www.octavejournal.com" class="visit-link"> | visit </a>
          <a class="source-link" href="https://github.com/timsvoice/great_green_sources">| view code</a>
       </div>        
      </li>
      <li class="project">
        <%= link_to 'Octave Journal', 'octavejournal', :class => 'project-link' %>
        <div class="project-links hidden">
          <a href="www.octavejournal.com" class="visit-link"> | visit </a>
          <a class="source-link" href="http://github.com/timsvoice/living_octave_journal">| view code</a>
        </div>         
      </li>
      <li class="project">
        <%= link_to 'Mallydoor', 'mallydoor', :class => 'project-link' %>
        <div class="project-links hidden">
          <a href="www.mallydoor.com" class="visit-link"> | visit </a>
          <a class="source-link" href="http://github.com/timsvoice/mallydoor">| view code</a>
        </div>         
      </li>
    </ul><!-- project-list -->
  </div>
</div><!-- projects -->

<div id="connect" class="connect-band">
  <div class="row">
    <h2 class="connect-title">
      connect
    </h2>
    <div class="connect-links">
      <p class="connect-text">
        The best way to reach me is at <a href="mailto:timsethvoice@gmail.com">timsethvoice@gmail.com</a> or <a href="http://twitter.com/timsvoice">@timsvoice</a>. You can also check out my code at <a href="http://gitgub.com/timsvoice">Github</a> where I keep all my projects, including this one.  
      </p>      
    </div><!-- connect-links -->    
  </div><!-- row -->
</div><!-- connect-band -->
