---
title: Timothy Voice
---
<div class="branding-band">
  <div class="row">
    <div id="splash" class="small-12 medium-12 large-12 columns branding">
      <div class="fixer">
        <h1 class="branding-title">
        Timothy <br> <span class="indent">Voice</span>
      </h1>
      <p class="branding-byline">
        concept code content
      </p>
      </div>
    </div><!-- Branding -->
  </div>
</div>

<div class="projects-band">
  <div class="row projects">
    <div class="small-12 medium-12 large-12 columns projects-container">
      <h2 class="projects-title"></h2>
    
      <div class="projects-single">
        <div class="projects-single-container clearfix">
          <div class="show-for-medium-up medium-4 large-4 columns projects-summary">
            <h3 class="projects-single-title">
              Great Green Sources
            </h3>
            <p class="projects-single-teaser">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, molestias, error dicta earum sed ipsum velit blanditiis provident eveniet et.
            </p>
            <a href="#" class="small secondary button">View Project</a>
          </div><!-- projects-summary -->
          <div class="small-12 medium-8 large-8 columns">
            <%= image_tag 'greatgreensources_full_mockup.png'  %> 
          </div>
        </div>
      </div>

      <div class="projects-single">
        <div class="projects-single-container clearfix">
          <div class="show-for-medium-up medium-4 large-4 columns projects-summary">
            <h3 class="projects-single-title">
              Octave Journal
            </h3>
            <p class="projects-single-teaser">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, molestias, error dicta earum sed ipsum velit blanditiis provident eveniet et.
            </p>
            <a href="#" class="small secondary button">View Project</a>
          </div><!-- projects-summary -->
          <div class="small-12 medium-8 large-8 columns">
            <%= image_tag 'octavejournal_full_mockup.png'  %> 
          </div>
        </div>
      </div>

    </div><!-- projects -->
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns about">
    <h2 class="about-title">
      About
    </h2>
    <p class="about-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, dolorum, nobis repudiandae exercitationem ratione omnis asperiores aliquid atque molestias amet quis assumenda enim tenetur facilis provident nemo totam voluptatibus quam aliquam quo porro est illo sequi excepturi fugiat explicabo qui voluptatem quae error officiis labore laborum vel aperiam perferendis minus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ipsum tempora placeat non veritatis odio dolorum est obcaecati vel ut libero odit enim eligendi.
    </p>
  </div><!-- About -->
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns contact">
    <a href="#" class="small secondary button">contact</a>
  </div>
</div>