---
title: Timothy Voice
---

<div id="mask"></div>

<div class="branding-band">
  <div class="row">
    <div id="splash" class="small-12 medium-12 large-12 columns branding">
      <div class="branding-intro">
        <h1 class="branding-title">
          Timothy Voice
        </h1>
          <p class="branding-byline">
          concept code content
        </p>
        <div class="small-10 medium-5 column alpha">
          <p class="branding-summary">
            I am a Brooklyn based designer / developer passionate about clean readable code powering clean, readable content.
          </p>
          <!-- <div class="contact">
            <i class="ion-social-github"></i>              
            <i class="ion-social-twitter"></i>        
            <i class="ion-ios7-email"></i>
          </div> -->
        </div>
      </div><!-- branding-intro -->
    </div><!-- Branding -->
  </div>
</div>


<div id="projects">
  
  <%= partial "ggs" %>

  <%= partial "octavejournal" %>

</div><!-- projects -->
    
<div id="connect" class="connect-band">
  <div class="row">
    <div class="small-12 medium-5 columns connect-links">
      <p class="connect-text">
        
      </p>
      
          <i class="ion-social-github"></i>      
        
          <i class="ion-social-twitter"></i>
        
          <i class="ion-ios7-email"></i>

    </div>
    <div class="small-12 medium-5 columns connect-form">
  
      <form method="post" action="contactengine.php">
        <label for="Name">Name:</label>
        <input type="text" name="Name" id="Name" />
        
        <label for="City">City:</label>
        <input type="text" name="City" id="City" />
  
        <label for="Email">Email:</label>
        <input type="text" name="Email" id="Email" />
        
        <label for="Message">Message:</label><br />
        <textarea name="Message" rows="20" cols="20" id="Message"></textarea>

        <input type="submit" name="submit" value="Submit" class="submit-button" />
      </form>
  
      <div style="clear: both;"></div>

    </div><!-- connect-form -->
    
  </div><!-- row -->
</div><!-- connect-band -->
