---
layout: kickstarter
---

<div class="position-container">
  <div class="row">
    <div class="position-title-container small-12 medium-12 large-12 columns">
      <h2 class="position-title">
        Product Designer - Application
      </h2>
      <h3 class="position-name">
        from Timothy Voice
      </h3>
      <ul class="position-tags-list">
        <li class="position-tags-list-item">
          <i class="ion-ios7-location"></i>
          Brooklyn, NY
        </li>
        <li class="position-tags-list-item">
          <i class="ion-ios7-pricetag"></i>
          Designer/Developer
        </li>
      </ul><!-- position-tags-list -->
    </div><!-- position-container -->
  </div><!-- row -->
  <div class="row">
  <div class="position-details small-12 medium-12 large-12 alpha beta columns">
    <div id="tabs">
      <ul class="tabs">
        <li><a href="#project">Project</a></li>
        <li><a href="#code">Code</a></li>
      </ul>
      <div id="project" class="clearfix application-container">
        <div class="small-12 medium-8 large-8 columns application-body">
          <div class="application-hero">
            <%= image_tag 'application-hero.png'  %>
          </div><!-- row application-hero -->
          <div class="application-intro">
            <h4 class="application-intro-opener">
              I am a self taught designer/developer based in Brooklyn, looking to join a team that I can contribute to and learn from.
            </h4>
            <p class="application-intro-body">
              I want to create beautiful and functional, web powered products that are thoughtfully designed and empowering to those that use them. I think Kickstarter is a place where I can achieve this goal.
            </p>
            <p class="applciaiton-intro-body">
              My current work is building and managing the Octave Journal, an online platform, the goal of which is to foster culture and community amongst a diverse, and dispersed team. I initiated the project and took it from concept to completion, teaching myself to code, design, and deploy so I could tailor the platform to meet our specific needs. It has been a huge learning experience, and I’m now looking to build on it with newer, bigger challenges.
            </p>
            <p class="applciaiton-intro-body">
              I work hard to understand the desires and needs of users and push to reduce problems to their simplest forms. I believe there is a tremendous opportunity to use these skills to further your goal of getting more creative work into the world. I would love the chance to help evolve the Kickstarter platform to meet new needs and better serve current ones. I believe the premises upon which Kickstarter is built, an activist community of creators and believers working together, is a model for how we can use technology to unleash creativity on a massive scale.
            </p>
          </div><!-- row  application-intro-->    
          <div class="application-process">
            <h3 class="application-header">
              Design
            </h3>
            <p class="application-process-body">
              If you haven't noticed yet, this application is in the form of a Kickstarter project page, with a few design changes which I will go into below. It may seem gimmicky, but really there is a sound reason I went this route. You are looking for a product designer who can work within and evolve your visual framework. What better way to demonstrate that then to work within and evolve your established visual framework?
              <br>
              <br>
              Here are the decisions I made and why:
            </p>
            <h4 class="application-subheader">
              Responsive Project Pages
            </h4>
            <p class="application-process-body">
              The most obvious opportunity I saw was to make the project page responsive. There are endless statistics on how much of web traffic is moving to mobile, but for me the most compelling reason is simply that people share their project pages on all number of platforms; twitter, facebook, email, text etc. and these messages are more often than not read on a mobile device. If the project page were made responsive, then I believe you could increase conversion of visitors to that page and make it easier for kickstarters to turn their ideas into reality.
            </p>
            <h4 class="application-subheader">
              Calls to Action
            </h4>
            <p class="application-process-body">
              It is essential to guide people through the information you present. Size, color and relative position all work to confer importance. Currently your links and calls to action and signified by two colors: kickstarter green, and a light blue. I've consolidated these into kickstarter green for buttons and other prominent calls to action, and a slightly muted green for secondary links. I think this gives the page more visual unity, and identifies interactive elements in a more consistent way.
            </p>             
            <h4 class="application-subheader">
              Structure
            </h4>
            <p class="application-process-body">
              The border radius does convey and soft, approachable aesthetic, but I think that is already achieved through muted tones and the friendly, open primary branding color. I believe those elements contrasted by crisp corners lend the UI structure and intent.
            </p>
            <h4 class="application-subheader">
              Color Palette
            </h4>
            <p class="application-process-body">
              The element that really looked out of place was the blue bio panel. It did not seem to have any visual relationship with the rest of the page. I cut down on the color scheme, opting to keep it simple with the kickstarter green and blue-gray of the background.
            </p>             
          </div><!-- application-process -->
        </div><!-- application-body -->
          <div class="application-sidebar-container">
            <div class="small-12 medium-4 large-4 columns application-sidebar">
              <div class="application-skills">
                <div class="application-skills-frontend">
                  <h3 class="application-skills-title">
                    Technical Skills
                  </h3>
                  <ul class="frontend-list">
                    <li class="application-list-item">HTML / </li>
                    <li class="application-list-item">CSS / </li>
                    <li class="application-list-item">Sass / </li>
                    <li class="application-list-item">Git /</li>
                    <li class="application-list-item">Foundation</li>
                  </ul>
                </div><!-- application-skills-frontend -->
                <div class="application-skills-backend">
                  <ul class="backend-list">
                    <li class="application-list-item">Wordpress / </li>
                    <li class="application-list-item">Middleman</li>
                  </ul>
                </div><!-- application-skills-backend -->
                <h3 class="application-skills-title">
                    In Progress
                  </h3>
                <div class="application-skills-pipeline">
                  <ul class="pipeline-list">
                    <li class="application-list-item">Ruby (off rails) /</li>
                    <li class="application-list-item">Ruby on Rails</li>
                  </ul>
                </div><!-- application-skills-pipeline -->                
                <div class="button contact expand">
                  See my Portfolio
                </div>
              </div><!-- application-skills -->
              <div class="application-resume">
                <div class="application-resume-profile clearfix">
                  <div class="small-12 medium-4 large-4 columns application-image">
                    <%= image_tag 'profile.jpg'  %>
                  </div><!-- application-image -->
                  <div class="small-12 medium-8 large-8 columns application-details">
                    <div class="application-bio">
                      <ul class="application-details-list">
                        <li class="application-detail-item">Timothy Voice</li>
                        <li class="application-detail-item">Brooklyn, NY</li>
                      </ul><!-- application-details-list -->
                    </div><!-- application-bio -->            
                  </div><!-- application-details -->
                  <div class="small-12 medium-12 large-12 columns application-connect">
                    <ul class="application-details-list">
                      <li class="application-detail-item">
                        <a href="http://www.timothyvoice.com">
                          <i class="ion-ios7-world"></i> www.timothyvoice.com
                        </a>
                      </li>
                      <li class="application-detail-item">
                        <a href="http://www.twitter.com/timsvoice">
                          <i class="ion-social-twitter"></i> @timsvoice
                        </a>
                      </li>
                      <li class="application-detail-item">
                        <a href="http://www.github.com/timsvoice">
                          <i class="ion-social-github"></i> timsvoice
                        </a>
                      </li>              
                    </ul><!-- application-details-list -->
                  </div><!-- application-connect -->
                </div><!-- application-resume-profile -->
                 <h3 class="application-header"></h3>
                <div class="application-resume-experience">
                  <div class="application-experience-item">
                    <h4 class="experience-education-header">
                      Education
                    </h4>
                    <h4 class="experience-subheader">
                      BA: Bennington College              
                    </h4>
                    <p class="experience-education-location">
                      Bennington, VT
                    </p>
                    <p class="experience-body">
                      Major: Mathematics
                      <br>
                      Minor: Political Economy
                    </p>
                    <h4 class="experience-subheader">
                      High School: National School of the Arts
                    </h4>
                    <p class="experience-education-location">
                      Johannesburg, South Africa
                    </p>
                    <p class="experience-body">
                      Concentrated in Performing Arts
                    </p>
                  </div><!-- application-experience-item -->
                  <div class="divider"></div>
                  <div class="application-experience-item">
                    <h4 class="experience-education-header">
                      Experience
                    </h4>
                    <h4 class="experience-header">
                      Research Analyst
                    </h4>
                    <h4 class="experience-subheader">
                      Octave New York
                    </h4>
                    <p class="experience-body">
                      Built and managed internal culture platform. Initiated and edited a bi-monthly newsletter with the goal of driving traffic to our site. Made informed design decisions guided by Google Analytics and Mailchimp data.
                    </p>
                    <p class="experience-duration">
                      April 2011 - Present
                    </p>
                  </div><!-- application-experience-item -->                
                  <div class="divider"></div>                  
                  <div class="application-experience-item">
                    <h4 class="experience-header">
                      Research Assistant
                    </h4>
                    <h4 class="experience-subheader">
                      Dr. Mirka Prazak
                    </h4>
                    <p class="experience-body">
                      Mirka and I worked together to study AIDS orphans in rural Kenya. I focused on statistical analysis, drawing insights from 20 years of data collected in the field. Our work together is currently being considered for publication.
                    </p>
                    <p class="experience-duration">
                      January 2007 - August 2010
                    </p>
                  </div><!-- application-experience-item -->
                  <div class="divider"></div>
                  <div class="application-experience-item">
                    <h4 class="experience-header">
                      Senior House Chair
                    </h4>
                    <h4 class="experience-subheader">
                      Bennington College
                    </h4>
                    <p class="experience-body">
                      As Senior House Chair I lead a team of 12 in fostering residential communities and managing relations with the administration. We planned campus wide events and worked to foster strong in-house cultures.
                    </p>
                    <p class="experience-duration">
                      August 2009 - May 2010
                    </p>
                  </div><!-- application-experience-item -->                
                </div><!-- application-resume-experience -->
              </div><!-- application-resume -->
            </div><!-- application-sidebar -->
          </div><!-- application-sidebar-container -->
        </div><!-- application-container -->
        <div id="code" class="clearfix application-container">
            <div class="small-12 medium-8 large-8 columns application-body">
              <script src="https://gist.github.com/timsvoice/8f0407d58f376690aeed.js"></script>
            </div><!-- application-body -->
            <div class="application-sidebar-container">
              <div class="small-12 medium-4 large-4 columns application-sidebar">
                <div class="application-skills">
                  <div class="application-skills-frontend">
                    <h3 class="application-skills-title">
                      Technical Skills
                    </h3>
                    <ul class="frontend-list">
                      <li class="application-list-item">HTML / </li>
                      <li class="application-list-item">CSS / </li>
                      <li class="application-list-item">Sass / </li>
                      <li class="application-list-item">Git /</li>
                      <li class="application-list-item">Foundation</li>
                    </ul>
                  </div><!-- application-skills-frontend -->
                  <div class="application-skills-backend">
                    <ul class="backend-list">
                      <li class="application-list-item">Wordpress / </li>
                      <li class="application-list-item">Middleman</li>
                    </ul>
                  </div><!-- application-skills-backend -->
                  <h3 class="application-skills-title">
                      In Progress
                    </h3>
                  <div class="application-skills-pipeline">
                    <ul class="pipeline-list">
                      <li class="application-list-item">Ruby (off rails) /</li>
                      <li class="application-list-item">Ruby on Rails</li>
                    </ul>
                  </div><!-- application-skills-pipeline -->
                  <div class="application-skills-text">
           
                  </div>
                  <div class="button contact expand">
                    See my Portfolio
                  </div>
                </div><!-- application-skills -->
                <div class="application-resume">
                  <div class="application-resume-profile clearfix">
                    <div class="small-12 medium-4 large-4 columns application-image">
                      <%= image_tag 'profile.jpg'  %>
                    </div><!-- application-image -->
                    <div class="small-12 medium-8 large-8 columns application-details">
                      <div class="application-bio">
                        <ul class="application-details-list">
                        <li class="application-detail-item">Timothy Voice</li>
                        <li class="application-detail-item">Brooklyn, NY</li>
                      </ul>
                      </div>            
                    </div><!-- application-details -->
                    <div class="small-12 medium-12 large-12 columns application-connect">
                      <ul class="application-details-list">
                        <li class="application-detail-item">
                          <a href="http://www.timothyvoice.com">
                            <i class="ion-ios7-world"></i> www.timothyvoice.com
                          </a>
                        </li>
                        <li class="application-detail-item">
                          <a href="http://www.twitter.com/timsvoice">
                            <i class="ion-social-twitter"></i> @timsvoice
                          </a>
                        </li>
                        <li class="application-detail-item">
                          <a href="http://www.github.com/timsvoice">
                            <i class="ion-social-github"></i> timsvoice
                          </a>
                        </li>              
                      </ul>
                    </div><!-- application-connect -->

                  </div><!-- application-resume-profile -->
                   <h3 class="application-header"></h3>
                  <div class="application-resume-experience">
                    <div class="application-experience-item">
                      <h4 class="experience-education-header">
                        Education
                      </h4>
                      <h4 class="experience-subheader">
                        BA: Bennington College              
                      </h4>
                      <p class="experience-education-location">
                        Bennington, VT
                      </p>
                      <p class="experience-body">
                        Major: Mathematics
                        <br>
                        Minor: Political Economy
                      </p>
                      <h4 class="experience-subheader">
                        High School: National School of the Arts
                      </h4>
                      <p class="experience-education-location">
                        Johannesburg, South Africa
                      </p>
                      <p class="experience-body">
                        Concentrated in Performing Arts
                      </p>
                    </div><!-- application-experience-item -->
                    <div class="divider"></div>
                    <div class="application-experience-item">
                      <h4 class="experience-education-header">
                        Experience
                      </h4>
                      <h4 class="experience-header">
                        Research Analyst
                      </h4>
                      <h4 class="experience-subheader">
                        Octave New York
                      </h4>
                      <p class="experience-body">
                        Built and managed internal culture platform. Initiated and edited a bi-monthly newsletter with the goal of driving traffic to our site. Made informed design decisions guided by Google Analytics and Mailchimp data.
                      </p>
                      <p class="experience-duration">
                        April 2011 - Present
                      </p>
                    </div><!-- application-experience-item -->
                    
                    <div class="divider"></div>
                    
                    <div class="application-experience-item">
                      <h4 class="experience-header">
                        Research Assistant
                      </h4>
                      <h4 class="experience-subheader">
                        Dr. Mirka Prazak
                      </h4>
                      <p class="experience-body">
                        Mirka and I worked together to study AIDS orphans in rural Kenya. I focused on statistical analysis, drawing insights from 20 years of data collected in the field. Our work together is currently being considered for publication.
                      </p>
                      <p class="experience-duration">
                        January 2007 - August 2010
                      </p>
                    </div><!-- application-experience-item -->
                    <div class="divider"></div>
                    <div class="application-experience-item">
                      <h4 class="experience-header">
                        Senior House Chair
                      </h4>
                      <h4 class="experience-subheader">
                        Bennington College
                      </h4>
                      <p class="experience-body">
                        As Senior House Chair I lead a team of 12 in fostering residential communities and managing relations with the administration. We planned campus wide events and worked to foster strong in-house cultures.
                      </p>
                      <p class="experience-duration">
                        August 2009 - May 2010
                      </p>
                    </div><!-- application-experience-item -->                
                  </div><!-- application-resume-experience -->
                </div><!-- application-resume -->
              </div><!-- row application-sidebar -->
            </div><!-- row application-sidebar-container -->
        </div><!-- application-container -->
      </div><!-- tabs -->
    </div><!-- panel-application -->
  </div><!-- position-container -->