---
layout: kickstarter
---


<div class="position-container">
  <div class="row">
    <div class="position-title-container small-12 medium-12 large-12 columns">
      <h2 class="position-title">
        Product Design: An Application
      </h2>
      <h3 class="position-name">
        from Timothy Voice
      </h3>
    </div><!-- position-container -->
  </div><!-- row -->
  <div class="row">
    <div class="position-details small-12 medium-6 large-6 columns">
      <ul class="position-details-list">
        <li class="position-details-list-item">Home</li>
        <li class="position-details-list-item">Source Code</li>
      </ul><!-- position-details-list -->
    </div><!-- position-details -->
    <div class="position-tags small-12 medium-6 large-6 columns">
      <ul class="position-tags-list">
        <li class="position-tags-list-item">
          <i class="ion-ios7-location"></i>
          Brooklyn, NY
        </li>
        <li class="position-tags-list-item">
          <i class="ion-ios7-pricetag"></i>
          Designer/Developer
        </li>
      </ul><!-- position-tags-list -->
    </div><!-- position-tags -->
  </div><!-- row -->
</div><!-- position-container -->

<div class="row application-container">
  <div class="small-12 medium-8 large-8 columns application-body">
    <div class="application-hero">
      <%= image_tag 'application-hero.png'  %>
    </div><!-- row application-hero -->
    <div class="application-intro">
      <h4 class="application-intro-opener">
        I am a self taught designer/developer based in Brooklyn, looking to join a team that I can contribute to and learn from.
      </h4>
      <p class="application-intro-body">
        I think Kickstarter could be that place. 
      </p>
    </div><!-- row  application-intro-->    
    <div class="application-process">
      <h3 class="application-header">
        Process
      </h3>
      <p class="application-process-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci, praesentium repellat rerum illo asperiores nesciunt aliquid ratione temporibus natus error voluptates iure iusto quidem distinctio vero at eveniet odio cum numquam neque in quasi commodi similique itaque culpa debitis odit dicta architecto nihil amet suscipit minima harum porro ullam accusamus voluptatibus quisquam facere id omnis! Cum, illum, nisi, voluptates, officiis ipsam laboriosam numquam ea inventore facilis at perspiciatis ad impedit? Facilis, porro magni pariatur!
      </p>
    </div><!-- row application-process -->
    <div class="application-opportunities">
      <h3 class="application-header">
        Opportunities
      </h3>
      <p class="application-opportunities-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci, praesentium repellat rerum illo asperiores nesciunt aliquid ratione temporibus natus error voluptates iure iusto quidem distinctio vero at eveniet odio cum numquam neque in quasi commodi similique itaque culpa debitis odit dicta architecto nihil amet suscipit minima harum porro ullam accusamus voluptatibus quisquam facere id omnis! Cum, illum, nisi, voluptates, officiis ipsam laboriosam numquam ea inventore facilis at perspiciatis ad impedit? Facilis, porro magni pariatur!
      </p>
    </div><!-- row application-opportunities -->
  </div><!-- application-body -->
    <div class="application-sidebar-container">
    <div class="small-12 medium-4 large-4 columns application-sidebar">
      <div class="application-skills">
        <div class="application-skills-frontend">
          <h3 class="application-skills-title">
            Technical Skills
          </h3>
          <ul class="frontend-list">
            <li class="application-list-item">HTML / </li>
            <li class="application-list-item">Sass / </li>
            <li class="application-list-item">Git /</li>
            <li class="application-list-item">Foundation</li>
          </ul>
        </div><!-- application-skills-frontend -->
        <div class="application-skills-backend">
          <ul class="backend-list">
            <li class="application-list-item">Wordpress / </li>
            <li class="application-list-item">Middleman</li>
          </ul>
        </div><!-- application-skills-backend -->
        <h3 class="application-skills-title">
            In Progress
          </h3>
        <div class="application-skills-pipeline">
          <ul class="pipeline-list">
            <li class="application-list-item">Ruby (off rails) /</li>
            <li class="application-list-item">Ruby on Rails</li>
          </ul>
        </div><!-- application-skills-pipeline -->
        <div class="application-skills-text">
 
        </div>
        <div class="button contact expand">
          See my Portfolio
        </div>
      </div><!-- application-skills -->
      <div class="application-resume">
        <div class="application-resume-profile clearfix">
          <div class="small-12 medium-4 large-4 columns application-image">
            <%= image_tag 'profile.jpg'  %>
          </div><!-- application-image -->
          <div class="small-12 medium-8 large-8 columns application-details">
            <div class="application-bio">
              <ul class="application-details-list">
              <li class="application-detail-item">Timothy Voice</li>
              <li class="application-detail-item">Brooklyn, NY</li>
            </ul>
            </div>            
          </div><!-- application-details -->
          <div class="small-12 medium-12 large-12 columns application-connect">
            <ul class="application-details-list">
              <li class="application-detail-item">
                <a href="http://www.timothyvoice.com">
                  <i class="ion-ios7-world"></i> www.timothyvoice.com
                </a>
              </li>
              <li class="application-detail-item">
                <a href="http://www.twitter.com/timsvoice">
                  <i class="ion-social-twitter"></i> @timsvoice
                </a>
              </li>
              <li class="application-detail-item">
                <a href="http://www.github.com/timsvoice">
                  <i class="ion-social-github"></i> timsvoice
                </a>
              </li>              
            </ul>
          </div><!-- application-connect -->

        </div><!-- application-resume-profile -->
         <h3 class="application-header"></h3>
        <div class="application-resume-experience">
          <div class="application-experience-item">
            <h4 class="experience-education-header">
              Education
            </h4>
            <h4 class="experience-subheader">
              BA: Bennington College              
            </h4>
            <p class="experience-education-location">
              Bennington, VT
            </p>
            <p class="experience-body">
              Major: Mathematics
              <br>
              Minor: Political Economy
            </p>
            <h4 class="experience-subheader">
              High School: National School of the Arts
            </h4>
            <p class="experience-education-location">
              Johannesburg, South Africa
            </p>
            <p class="experience-body">
              Concentrated in Performing Arts
            </p>
          </div><!-- application-experience-item -->
          <div class="divider"></div>
          <div class="application-experience-item">
            <h4 class="experience-education-header">
              Experience
            </h4>
            <h4 class="experience-header">
              Research Analyst
            </h4>
            <h4 class="experience-subheader">
              Octave New York
            </h4>
            <p class="experience-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quam.
            </p>
            <p class="experience-duration">
              April 2011 - Present
            </p>
          </div><!-- application-experience-item -->
          
          <div class="divider"></div>
          
          <div class="application-experience-item">
            <h4 class="experience-header">
              Research Assistant
            </h4>
            <h4 class="experience-subheader">
              Mirka Prazak
            </h4>
            <p class="experience-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, nisi.
            </p>
            <p class="experience-duration">
              January 2007 - August 2010
            </p>
          </div><!-- application-experience-item -->
          <div class="divider"></div>
          <div class="application-experience-item">
            <h4 class="experience-header">
              Senior House Chair
            </h4>
            <h4 class="experience-subheader">
              Bennington College
            </h4>
            <p class="experience-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, nisi.
            </p>
            <p class="experience-duration">
              August 2009 - May 2010
            </p>
          </div><!-- application-experience-item -->                
        </div><!-- application-resume-experience -->
      </div><!-- application-resume -->
    </div><!-- row application-sidebar -->
  </div><!-- row application-sidebar-container -->
</div><!-- application -->
