---
title: Structure
layout: playbook
---

 
 <div class="medium-4 large-3 columns alpha beta">
   <%= partial "navigation-side" %>
  </div>

<div class="row">
  <div class="small-12 medium-8 large-9 columns">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, eius, iusto, quod error nulla similique eveniet vero omnis totam adipisci quisquam laudantium facilis sunt tenetur voluptatum iure tempora quibusdam nam repudiandae dicta quo praesentium sed delectus maiores obcaecati. Commodi, sit, rem animi ad optio nostrum recusandae aspernatur amet temporibus enim suscipit natus deleniti. Perspiciatis, accusantium, eveniet, voluptas, nihil incidunt nobis voluptatum cumque provident nisi quibusdam quae in recusandae sunt soluta quis id inventore commodi consequuntur quaerat excepturi sapiente aliquam officia impedit reiciendis sit! Dolore totam voluptas earum accusantium sequi? Laborum obcaecati dolor similique vero repudiandae nostrum aut consectetur nihil maiores!
  </div>
</div>


