@mixin medium-text() {
  font-size: 0.85rem;
}

@mixin border-light($color, $width: 0.0675rem) {
  border: $width $color solid;
}

@mixin border-heavy($color, $width: 0.125rem) {
  border: $width $color solid;;
}

@mixin transition($timing: 200, $elements: all) {
  transition: $elements $timing ease $timing;   
}

@mixin project-frame($color: $black) {
  border-top: 0rem $color solid;
  border-right: 0.0625rem $color solid;
  border-bottom: 0.0625rem $color solid;
  border-left: 0.0625rem $color solid;
}