/* ============================ 
  Media Queries
============================ */

@mixin breakpoint($point) {
  @if $point == xxlarge {
    @media only screen and (min-width: 120.063em) { @content; }
  }
  @else if $point == xlarge {
    @media only screen and (max-width: 90.063em) { @content; }
  }
  @else if $point == large {
    @media only screen and (min-width: 64.063em) { @content; }
  }
  @else if $point == medium {
    @media only screen and (min-width: 47.063em) { @content; }
  }
  @else if $point == small {
    @media only screen and (max-width: 47em) { @content; }
  }
}

/* ============================ 
  Typography
============================ */

@mixin medium-text() {
  font-size: 0.85rem;
}

/* ============================ 
  Borders
============================ */

@mixin border-light($color, $width: 0.0675rem) {
  border: $width $color solid;
}

@mixin border-heavy($color, $width: 0.125rem) {
  border: $width $color solid;;
}

@mixin transition($timing: 200, $elements: all) {
  transition: $elements $timing ease $timing;   
}

@mixin project-frame($color: $black) {
  border-top: 0rem $color solid;
  border-right: 0.0625rem $color solid;
  border-bottom: 0.0625rem $color solid;
  border-left: 0.0625rem $color solid;
}