/* ============================ 
	Colors
============================ */

$branding-color: hsla(202, 89, 58%, 1);
$branding-darker: hsla(202, 89, 28%, 1);
$branding-accent: hsla(202, 89, 58%, 0.1);
// $white: hsla(209, 32, 59%, 1);
$octavejournal-color: hsla(229, 43, 39%, 1);
$ggs-color: hsla(134, 27, 27%, 1);
$gray: hsla(0,0,91%,1);
$light-gray: hsla(0,0,60%,1);
$white: hsla(0,0,100%,1);
$transparent-white: hsla(0,0,100%,0.5);
$dark-gray: hsla(0,0,53%,1);
$black: hsla(0,0,0%,1);
$navy-black: hsla(219,100,13%,1);
$transparent-black: hsla(0,0,0%,0.75);
$accent: hsla(202, 89, 58%, 1);

/* ============================ 
	Typography
============================ */

$body-font: "Raleway", Helvetica, Arial, sans-serif;
$text-font: "Lato", Times, serif;

$heavy-text:900;
$medium-text:400;
$light-text:200;

$underline: 0.0625rem dotted;

/* ============================ 
	Borders
============================ */

$border-thick: 0.125rem $black solid;
$border-thin:  0.125rem $light-gray solid;

/* ============================ 
	Backgrounds
============================ */

